
*{
    font-family: "Rubik";
}

  h1,h2,button,p{
    font-family: "Rubik"
  }

.Infos, .Pokemon-Info{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    
    margin-left: 20px;
    margin-right: 20px;
    
    background: url(../Imgs/pokeball2.png);
    
    background-position: center;
    background-repeat:no-repeat;
    padding: 15px;

}


.img {
  display: flex;
  margin-right: 30px;
  
  flex-direction: column;
  border-radius: 9px;
  align-items: center;
  animation-name: example;
  animation-duration: 1s;
  background: url('../Imgs/CardFrames/pokeball.png') no-repeat center center;
  background-color: transparent;
  background-size:contain;
  width: 358px;
  height: 470px; 
  padding: 70px;
}
.pokemon-img{
  display: flex;

  margin-top: -50px;
  margin-bottom: 95px;
  height: 200px;
  width: 200px;
  border-radius: 9px;
  background-color: transparent;
}


.img button{
  display: flex;
  background-color: #3F4753;
  color: white;
  margin: 10px;
  
}


.stats{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  border: 2px solid rgb(221, 16, 16);
  border-radius: 9px;
  padding-left: 25px;
  box-shadow: 10px 10px lightblue;
  background: url(../Imgs/pokeball2.png);
  background-size: 20rem;
  background-position: right;
  background-repeat: no-repeat;
  background-color: var(--background-color);
}
.StatsBaseBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;

}
.BaseStats{
  width:4rem;
  background-color: transparent;
  
}
.StatsName{
  width: 13rem;
  background-color: transparent;
}

.ability, .Types,.habitat,.Evolução{
  margin: 10px;
  padding: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
  font-weight: bold;
  color: white;
  background: url(../Imgs/pokeball.png);
    background-size: 6rem;
    background-position: center;
    background-repeat:no-repeat;
    background-color: rgb(65, 65, 65);
}

.Types{
    padding-left: 50px;
    padding-right: 50px;
    padding-top:30px;
    padding-bottom:30px
}
.habitat{
    padding-top:90px;
    padding-bottom:90px
}
.NavLink2{
  color: white;
  
}
.NavLink2:hover{
  border-bottom: 2px solid white;
 
}
.Types button{
  margin: 0.3rem;
  
}
.MiniPokemon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  gap: 30px;
  border: 3px var(--cor-de-fundo-3) solid;
  background-color: var(--cor-de-fundo);
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2%;
  
}

.MiniPokemon h1 {
  margin: 0;
  color: white;
  text-align: center;
  letter-spacing: 3px;
}

.MiniPokemon img {
  transform: scale(1.6);

  margin-bottom: 40px;

}
@keyframes example {
  0%   {margin-left: 250px;}
  100% {}
}
@keyframes down {
  0%   {margin-top: 200px;}
  100% {}
}

@media only screen and (max-width: 750px) {

  .MiniPokemon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  
  border: 2px var(--cor-de-fundo-3) solid;
  background-color: var(--cor-de-fundo);
  width: 100%;
  height: 5.5rem;
  
  border-radius: 10px;
}

.MiniPokemon h1 {
  margin: 0;
  color: white;
  text-align: center;
  letter-spacing: 3px;
}

.MiniPokemon img {
  transform: scale(1.6);

  margin-bottom: 40px;

}
  .Infos{
    display: flex;
    flex-direction: column;
}
.Pokemon-Info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ability, .Types,.habitat,.Evolução{
  margin: 0px;
  padding: 20px;

  width: 400px;
  max-width: 330px;
  border-radius: 9px;
  display: flex;
  flex-direction: row;

  align-items: center;
  
  font-weight: bold;
  color: white;
  background: url(../Imgs/pokeball.png);
    background-size: 6rem;
    background-position: center;
    background-repeat:no-repeat;
    background-color: rgb(65, 65, 65);
}
.StatsBaseBar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;

}
.img{
  display: flex;
  margin: 15px;
  padding: 40px;
  flex-direction: column;
  
  align-items: center;
  animation-name: example;
  animation-duration: 1s;
  background: url('../Imgs/CardFrames/pokeball.png') no-repeat center center;
  background-color: transparent;
  background-size:contain;
}
.pokemon-img{
  
  display: flex;
  margin: 20px;
  margin-bottom: 100px;
  margin-top: 10px;
  height: 190px;
  width: 160px;

}

.img button{
  display: flex;
  flex-direction: row;
  margin: 15px;
  
}

.stats{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:space-around;
  font-weight: bold;
  animation-name: example;
  animation-duration: 1s;
  margin-top: 35px;
  margin: 20px;
}

.BarraDeFundo{
  width: 50px;
}
.Types button{
  margin: 0.5rem;
}
.stats{
  display: flex;
  flex-direction: column;
  margin: 0px;
  margin-top: 20px;
}
.StatsBaseBar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.BaseStats,.StatsName{
  width: 5rem;
  
}
  .BarraDeFundo{
    display: flex;
    
  }
  }