.Login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Char {
    width: 300px;
    margin-top: 100px;
}
.Char2 {
    display: none;
}
.input.Mui-focused{
    border: 4px sloid red;
    border-color: red;  /* Muda a cor da borda quando o elemento está em foco */
    outline: none;      /* Remove o contorno padrão do navegador */
    background-color: yellow;  /* Muda a cor de fundo quando o elemento está em foco */
    color: blue;        /* Muda a cor do texto quando o elemento está em foco */
    box-shadow: 0 0 5px red;   /* Adiciona uma sombra ao redor do elemento em foco */
}

@media only screen and (max-width: 950px) {
    .Char {
        width: 250px;
    }
}

@media only screen and (max-width: 750px) {
    .Char {
        display: none;
    }

    .Char2 {
        display: flex;
        width: 250px;
        margin-top: 50px;
    }
    .Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
#AvatarIcon{
    display: none;
}
}