.Menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  font-weight: bold;
  border-bottom: 2px solid rgb(37, 37, 37);
  width: 100%;
  padding: 6px;
  padding-left: 30px;
  padding-right: 30px;
  background-position: center;
  background-repeat: repeat-x;
  background-color: var(--clr-white2);
  position: absolute;
  top: 0;
  left: 0;
}