.Menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  padding: 7px;
  padding-left: 30px;
  padding-right: 30px;
  background-position: center;
  background-repeat: repeat-x;
  background-color: var(--clr-white2);
  position: absolute;
  top: 0;
  left: 0;
}