
:root {
  --img-grass: url('../Imgs/grass.png');
  --img-fire: url('../Imgs/fire.png');
  --img-electric: url('../Imgs/electric.png');
  --img-dragon: url('../Imgs/dragon.png');
  --img-water: url('../Imgs/water.png');
/* ----------------------------------------- */
  --img-fighting: url('../Imgs/Backgrounds/fighting.png');
  --img-electric: url('../Imgs/Backgrounds/electric.png');
  --img-psychic: url('../Imgs/Backgrounds/psychic.png');
  --img-dragon: url('../Imgs/Backgrounds/dragon.png');
  --img-flying: url('../Imgs/Backgrounds/flying.png');
  --img-ghost: url('../Imgs/Backgrounds/ghost.png');
  --img-dark: url('../Imgs/Backgrounds/dark.png');
  --img-poison: url('../Imgs/Backgrounds/poison.png');
  --img-normal: url('../Imgs/Backgrounds/normal.png');
  --img-rock: url('../Imgs/Backgrounds/rock.png');
  --img-fairy: url('../Imgs/Backgrounds/fairy.png');
  --img-water: url('../Imgs/Backgrounds/water.png');
  --img-ground: url('../Imgs/Backgrounds/ground.png');
  --img-steel: url('../Imgs/Backgrounds/steel.png');
  --img-ice: url('../Imgs/Backgrounds/ice.png');
  --img-grass: url('../Imgs/Backgrounds/grass.png');
  --img-bug: url('../Imgs/Backgrounds/bug.png');
  --img-fire: url('../Imgs/Backgrounds/fire.png');
  --img-null: url('../Imgs/Backgrounds/null.png');
  --img-debuff: url('../Imgs/Backgrounds/debuff.png');
  --img-buff: url('../Imgs/Backgrounds/buff.png');
}
*{
  font-family: "Raleway"
}
.MainType {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  margin-top: 40px;
  padding-top: 35px;
  padding-bottom: 35px;
  border: 4px solid black;
}
.SubMainType{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  border-radius: 60px;
  border: 4px solid black;
  color: rgb(255, 255, 255);
  background-color: rgb(29, 27, 27);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}
.defenseHeader {
  text-align: center;
  margin-top: 40px;
}


.defInfo, .ataqInfo,.Efetivo, .NaoEfetivo,.SuperEfetivo{
    padding: 25px;
    animation-name: example;
    animation-duration: 0.4s;
    margin: 0px;
    
}

.ataqInfo,.defInfo{
  display: flex;
}

.Efetivo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  flex: 1;
  background-color: rgb(140, 231, 97);
   border: 3px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: var(--img-buff);
  background-position: center center;
  background-size: 150px;
}

.Resistencias{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  flex: 1;
  background-color: rgb(140, 231, 97);
  border: 3px solid black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: var(--img-buff);

  background-position: center center;
  background-size: 150px;
}

.NaoEfetivo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  flex: 1;
  background-color: rgb(250, 93, 93);
  border: 3px solid black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: var(--img-debuff);
  background-position: center center;
  background-size: 150px;
  
}
.Fraquesas{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  flex: 1;
  background-color: rgb(250, 93, 93);
  border: 3px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: var(--img-debuff);
  background-position: center center;
  background-size: 150px;
  
}
.FraquesasDentro,.NaoEfetivoDentro,.EfetivoDentro,.ResistenciasDentro{
  border: 4px solid black;
  border-radius: 20px;

  background-color: rgb(29, 27, 27);
  color: white;
  font-family: "Raleway";
  text-align: center;
}

.MainIcon:hover,.double_damage_from:hover,.half_damage_from:hover,.half_damage_to:hover{
  transform: scale(1.2);
  transition:0.3s;
  background: rgb(29, 27, 27);
  border-radius: 10px;
}
  
  .SuperEfetivo img, .NaoEfetivo img,.defInfo img, .ataqInfo img {
    height: 70px;
    margin: 15px;
  }